.topnav{
  background-color:black;
  border-radius: 4px;
  outline:2px solid aqua;
  filter:drop-shadow(5px 6px 7px rgba(85, 248, 248, 0.7));
}
.nav-item{
    margin: 15px;
    border-radius: 4px;
    outline:2px solid aqua;
    width:100px;
   text-align: center;
   line-height:15px;
   
   
}

.nav-link:hover{
    background-image: repeating-linear-gradient(45deg, aqua 20%, black 40%, lime 40%);
}
.nav-link span:hover{
    color:black;
}
.navbar-nav{
    width:100%;
}
body{
    background-color: black;
}
.logo{
    color:black;
    font-size: 60px;
   font-family: 'Faster One' ;
   text-shadow: 6px 7px 5px  aqua; 
   
}



